rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
    	// Allow everything for admins
      allow read, write: if request.auth != null && 
        exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "ADMIN";
    }

    match /users/{userId} {
	    // User data can be read from the app by self
      allow read: if request.auth != null && request.auth.uid == userId
    }

    match /videos/{videoId} {
      // Videos can be viewed by the sender and recipient
      allow read: if request.auth != null &&
        (
          request.auth.uid == resource.data.senderId ||
          request.auth.uid == resource.data.recipientId
        )
    }
  }
}
